hr {
    margin: 0;
}

.Rodape {
    font-family: var(--fonte-principal);
    background: var(--branco);
    padding: 3em ;
}

.Lista__rodape {
    display: none;
}

@media screen and (min-width: 1024px)  {
    .Rodape {
        display: flex;
        justify-content: space-around;      
    }

    .Rodape__titulo {
        font-family: var(--fonte-principal);
        font-size: 24px; 
        margin: 1.3em 0;        
    }

    .Lista__rodape {
        display: block;
    }

    .Lista__rodape__titulo {
        font-family: var(--fonte-principal);
        font-size: 14px;
        color: var(--cinza-claro);  
                 
    }

    .Lista__rodape__item {
        display: flex;
        align-items: center;
        margin: 1em 0;
    }

    .Lista__rodape__link {
        text-decoration: none;
        font-family: var(--fonte-principal);
        font-size: 14px;
        color: var(--cinza); 
        margin-left: 0.6em;      
    }
}

@media screen and (min-width: 1728px) {
    .Lista__rodape {
        border-left: 1px solid var(--cinza);
        padding-left: 1em;
        
    }

    .Rodape {
        padding: 4em 1em ;
    }
}