.Cabecalho__menu--hamburguer {
    width: 24px;
    height: 24px;
    background-image: url(../Imagens/Menu.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: inline-block;
    
       
}

.container__botao:checked~.Container__rotulo>.Cabecalho__menu--hamburguer {
    background-image: url(../Imagens/menu_black_24dp\ 1.svg)
}

.container__botao:checked~.Container__rotulo {
    background-color: var(--azul);
}



.Cabecalho {
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

}

.Container {
    display: flex;
    align-items:center;
}

.Container__imagem {
    padding: 0.8em;
}

.Lista__menu {
    display: none;
    position: absolute;
    top: 100%;
    width: 55vw;
}

.container__botao:checked~.Lista__menu {
    display: block;

}

.Lista__menu--titulo, .Lista__menu--item {
    padding: 1em;
    background-color: var(--branco);
    

}


.Lista__menu--titulo {
    color: var(--laranja);
    font-family: var(--fonte-principal);
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    
}

.lista__menu--link {
    text-decoration: none;
    background: var(--azul);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;
    font-family: var(--fonte-principal);
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
}

.container__botao {
    display: none;
}

.Container__titulo {
    display: none;
}

.Opcoes__item {
    display: none;
}

.Opcoes__botao {
    display: none;
}

.Container__texto {
    display: none;
}



@media screen and (min-width: 1024px) {
    .Container__titulo{
        font-family: var(--fonte-secundaria);
        font-size: 30px;
        font-weight: 400;
        display: block;
    }

    .Container__titulo--negrito {
        font-family: var(--fonte-secundaria);
        font-size: 30px;
        font-weight: 700;
        font-weight: bold;
    }

    .Opcoes {
        display: flex;
    }

    .Opcoes__item {
        font-family: var(--fonte-principal);
        padding: 0 2em;
        text-transform: uppercase;
        display: block;
        padding: 1em 2em;
        
    }

    .opcoes__link {
        text-decoration: none;
        font-family: var(--fonte-principal);
        color: var(--preto);
        
    }

    .Container__imagem-transparente {
        display: none;
    }

    .Cabecalho__menu--hamburguer {
        display: none;
    }

    .Opcoes__botao:checked~.Lista__menu {
        display: block;
        width: auto;
        
    }

    .Opcoes__botao:checked~.Opcoes__rotulo>.Opcoes__item {
        background: var(--azul);
        color: var(--branco);
    }

    .Lista__menu--item:hover {
        background: var(--azul);
    }

    .Lista__menu--item:hover > .lista__menu--link {
        -webkit-text-fill-color: var(--branco);
    }
}

@media screen and (min-width: 1728px) {
    .Container {
        margin: 0 3em;

    }

    .Container__texto {
        display: block;
        margin-left: -1em;
    }

    .Container__link {
        display: flex;
        align-items: center;
        text-decoration: none;
        font-family: var(--fonte-principal);
        font-size: 20px;
        color: var(--preto);        
    }

    .Opcoes {
        margin-right: auto;
    }

    
}