.Topicos {
    background: var(--azul);
    text-align: center;
    padding: 1.5em 1em 0 0 ;
}

.Topicos__titulo {
    font-family: var(--fonte-principal);
    color: var(--branco);
    font-weight: 300;
    text-decoration: none;
    margin-bottom: 1em;
}

.Topicos__lista {
    display: flex;   
    flex-wrap: wrap;
    justify-content: center;
}

.Topicos__item {
    margin: 1.5em 0.5em;
}

.Topicos__link {
    text-decoration: none;
    font-family: var(--fonte-principal);
    font-size: 14px;
    font-weight: 700;
    color: var(--branco);
    background: var(--laranja);
    padding: 1em 1.5em;
}

@media screen and (min-width: 1024px)  {
    .Topicos__titulo {
        font-size: 24px;
    }

    .Topicos__link {
        font-size: 24px;
    }

    .Topicos__item {
        margin: 2.5em 0.5em;
    }


}

@media screen and (min-width: 1728px) {
    .Topicos{
        padding: 3em 25vw;
    }
}
